<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit form</title>
</head>
<body>
<h2>Edit Item</h2>
<form th:action="@{/tasks/edit/{id} (id=${task.id})}" th:object="${task}"  method="post">
    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" required>
    <br>
    <label for="status">Status:</label>
    <select id="status" name="status" th:field="*{status}">
        <option value="IN_PROGRESS">In progress</option>
        <option value="DONE">Done</option>
        <option value="PAUSED">Paused</option>
    </select>
    <br>
    <button type="submit">Save Changes</button>
</form>
</body>
</html>